/* Main background & Card Images*/
.player {
  text-align: left;
  color: white;
  background: linear-gradient(
    to right,
    transparent,
    black,
    red,
    black,
    transparent
  );
}

/* Bottom/Top of screen spacing*/
.gameIndex {
  margin-top: 15px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 1000px) {
  .gameIndex {
    margin-bottom: 25px;
  }
}

.cardImageDiv {
  width: 21%;
  height: auto;
  padding: 5px;
  max-width: 90px;
}

.cardImages {
  width: 100%;
  height: auto;
}

.gameIndex {
  color: white;
  background-color: transparent;
}

#blackJackHeader {
  text-align: center;
  padding-top: 5px;
}

.results {
  text-align: center;
  justify-content: center;
}

.cardDisplay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.gameScoreButton {
  margin-top: 4px;
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: linear-gradient(
    to right,
    transparent,
    transparent,
    black,
    transparent,
    transparent
  );
}

.score {
  text-align: left;
  font-size: 1rem;
}

.valueHand {
  font-size: 1.1rem;
}

/* Buttons */
.playerButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.actionButton {
  width: 100%;
  font-weight: bolder;
}

#startGame {
  height: 6em;
  width: 6em;
  background-color: #d10000;
  border: 2px solid white;
  border-radius: 50%;
  color: white;
}

#loadGame {
  height: 6em;
  width: 6em;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50%;
}

#hit {
  height: 3em;
  width: 6em;
  border: 2px solid white;
  border-top-left-radius: 3em;
  border-top-right-radius: 3em;
  background-color: rgb(50, 135, 60);
  color: white;
  margin-bottom: 1px;
}

#stand {
  height: 3em;
  width: 6em;
  border: 2px solid white;
  border-bottom-left-radius: 3em;
  border-bottom-right-radius: 3em;
  background-color: rgb(50, 135, 60);
  color: white;
  margin-top: 1px;
}

/* Only on larger devices with a mouse use hover
ipad air width is 820px so should cover most devices*/
@media only screen and (min-width: 1000px) {
  #startGame:hover {
    background: #0000a3;
  }

  #hit:hover {
    background: #0000a3;
  }

  #stand:hover {
    background: #0000a3;
  }
}

/* Display win, lost or push game*/
#playerWinGame {
  background: linear-gradient(
    to right,
    transparent,
    black,
    green,
    black,
    transparent
  );
  font-size: 1rem;
}

#dealerWinGame {
  background: linear-gradient(
    to right,
    transparent,
    black,
    red,
    black,
    transparent
  );
  font-size: 1rem;
}

#pushWinGame {
  background: linear-gradient(
    to right,
    transparent,
    black,
    orange,
    black,
    transparent
  );
  font-size: 1rem;
}

#noResultYet {
  padding: 0.8rem;
}

/* Mobile views */

/* Media Query for portrait view mobile */
@media only screen and (max-width: 1000px) {
  .cardImages {
    padding: 3px;
  }
}

/* Mobile view landscape*/
@media only screen and (max-width: 1000px) and (orientation: landscape) {
  .cardImages {
    width: 100%;
    clip-path: inset(0px 0px 70% 0px);
  }
  .cardDisplay {
    height: auto;
  }

  .cardImageDiv {
    width: 21%;
    height: 50px;
    max-width: 90px;
  }
}
