.navigation {
  display: flex;
  justify-content: space-between;
}

.navigationSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

/* Header buttons*/
.linkItemButton {
  background: transparent;
  text-decoration: none;
  padding: 6px;
  color: white;
  width: 100%;
  margin-top: 5px;
  font-size: 1rem;
}

#topElementHeading {
  border-left: 2px solid white;
  border-top: 2px solid white;
  border-top-left-radius: 10px;
}

#topElementHeading:hover {
  background: linear-gradient(to right, blue, transparent);
  border-left: 2px solid white;
  border-top: 2px solid white;
  border-top-left-radius: 10px;
  padding: 6px;
  color: white;
  width: 100%;
}

#middleElementHeading:hover {
  background: linear-gradient(to right, blue, transparent);
  border-left: 2px solid white;
  padding: 6px;
  color: white;
  width: 100%;
}

/* Image to right*/
.navbarBrand {
  padding: 10px;
  height: 90px;
  width: auto;
}

/* Mobile landscape view Media queries remove menu */
@media only screen and (max-width: 900px) and (orientation: landscape) {
  .navigation {
    display: none;
  }
}
